<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.madwindevelopers.mwcalc"
          android:versionCode="1"
          android:versionName="1.0" >

     <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET"/>

     <application
        android:icon="@drawable/mwcalc_icon"
        android:label="@string/app_name" >
            <activity
            android:label="@string/app_name"
            android:name="com.madwindevelopers.mwcalc.InterfaceUI"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="stateAlwaysHidden">
                <intent-filter >
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        <activity android:name="com.madwindevelopers.mwcalc.PreferencesUI"
                android:label="@string/settings"
                android:windowSoftInputMode="stateAlwaysHidden"/>
         <activity android:name="com.madwindevelopers.mwcalc.HelpUI"
                 android:label="About"
                 android:windowSoftInputMode="stateAlwaysHidden"/>
         <activity android:name="com.madwindevelopers.mwcalc.UnitConverter"
                android:label="Unit Converter"/>

     </application>

</manifest>